@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');

/* Whole document: */
body{
  font-family: "Titillium Web", sans-serif;
  font-size: 14pt;
  font-style: Regular;
}
/* Headers */
h1{
  font-size: 24pt;
  font-weight: bold;
  font-family: "Titillium Web", sans-serif;
}
h3{
  font-weight: bold;
  font-family: "Titillium Web", sans-serif;
}
h2{
  font-weight: bold;
  font-family: "Titillium Web", sans-serif;
}

a{
  color: green;
  ;
}

a:hover{
  color: green;
}
a:active{
  color: green;
}

.navbar {
  padding: 0;
  background-color: green;
  align-items: none;
}
.navbar-default .navbar-brand {
    color: black;
    font-weight: bold;
}

.navbar-default .navbar-nav>li>a{
  color: black;
  font-weight: bold;
}
.navbar-default .navbar-nav>.active>a{
  color: black;
  background-color: green;
}
.main-container {
  max-width: 95% !important;
  margin: auto;
}